@import '~sierra-library/lib/index';

.Card {
  padding: 0;
  display: inline-block;
}

.CardHeading {
  text-align: center;
}

.CardBody {
  padding: 0 10px 0 10px;
}
.CardBody li {
  padding-left: 5px;
}

.CardBody ul li > a {
  padding: 0;
}
.CardBody a {
  padding-left: 5px;
}
