//
// Styling for bookmark categories.
//

.ContainerHeader {
  padding: 23px 0 0 10px;
  height: 75px;
  margin: 0;
  width: 100vw;
  position: fixed;
  top: 55px;
  left: 75px;
  z-index: 1;
}

.Content {
  margin-top: 140px;
  margin-left: 75px;
}
