//
// Styles for the Save/Cancel Buttons components.
//
.SaveCancelButtons {
  position: relative;
  margin: 10px -15px;
  bottom: 35px;

  & > * {
    position: absolute;
    right: 10px;
    top: 4px;
    width: 130px;
  }

}
